<section class="row top-row">
    <section class="col-md-4"></section>
    <section class="col-md-4">
        <img src="/assets/img/burger.png" alt="burger icon" id="burger-icon">
        <h1 class="app-title">Eat-Da-Burger!</h1>
    </section>
    <section class="col-md-4"></section>
</section>
<section class="row">
    <section class="col-md-8">
        {{#each burgers}}
        {{#unless devoured}}
        <section class="row">
            <section class="col-md-8">
                <div class="card uneaten-burgers">
                    <div class="card-body">{{burger_name}}</div>
                </div>
            </section>

            <section class="col-md-4">
                <button data-id="{{this.id}}" class="btn btn-primary float-left devour-burger-btn">Devour It!</button>
            </section>
        </section>
        {{/unless}}
        {{/each}}
    </section>
    <section class="col-md-4">
        <div class="card" id="devoured-burgers">
            <div class="card-header" id="header-text">
                Devoured Burgers
            </div>
            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </section>
</section>
<section class="row">
    <section class="col-md-4">
    </section>
    <section class="col-md-4">
        <div id="form-entry">
            <h2 class="input-title">Add a Burger</h2>
            <form id="create-form">
                <div class="input-group">
                    <span id="new-burger-title" class="input-group-text">New Burger</span>
                    <textarea id="burger-type" class="form-control" aria-label="With textarea"></textarea>
                </div>
                <button type="submit" id="createBurgerBtn" class="btn btn-primary">Add Burger</button>
            </form>
        </div>
    </section>
    <section class="col-md-4">
    </section>
</section>